.box{
  height: 200px;
  width: 200px;
  background-color: blue;
}

.page1{
  height: 100vh;
  width: 100%;
  background: #000;
}

.page2{
  height: 100vh;
  width: 100%;
  background: #111;
}

.page3{
  height: 100vh;
  width: 100%;
  background: #222;
}