*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.parent{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.main{
    height: 400px;
    width: 300px;
    background-color: brown;
}

.top img{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.top{
    display: flex;
    justify-content: space-between;
    margin: 10px 20px 10px 20px;
    padding: 10px 5px 10px 5px;
    text-align: center;
}

.top h4{
    font-size: 20px;
    font-weight: 300;
}

.center{
    text-align: center;
}

.bottom{
    text-align: center;
    margin-top: 50px;
}