*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    background-color: black;
}
h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 50px
}
.nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.link {
    display: flex;
    align-items: center;
    gap: 10px;
   
}
.link{
     text-decoration: none;
}