@import "tailwindcss";

h1{
    position: absolute;
    font-size: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-decoration: underline;
    font-weight: 700;
    white-space: nowrap;
    text-transform: capitalize;
}