*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body{
  background-color: black;
  color: white;
}


.card{
  margin: 20px 0 0 20px;
  padding: 10px ;
  width: 250px;
  border: 2px solid rgb(80, 46, 114);
  background-color: gray;
  border-radius: 10px;
}

.card h1{
  padding: 10px;
}

.card p{
  padding: 10px;
}

.card button{
  padding: 0 10px 0 10px;
}

