
.nav{
    display: flex;
    background-color: brown;
    object-fit: fill;
    align-items: center;
    justify-content: space-between;
    margin: 20px 30px;
    padding: 10px 10px;
}

.btn{
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    background-color: red;
}