*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Div{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.btn{
  padding: 10px;
  margin: 10px;
  display: flex;
  gap: 40px;
}

button{
  width: 200px;
  height: 100px;
}

h1{
  background-color: #333;
  width: 100%;
  padding: 10px;
  margin: 10px;
  text-align: center;
  font-size: 100px;
  object-fit: cover;
}